@media (max-width:575px) {}
@media (max-width:767px) {}
@media (max-width:991px) {}
@media (max-width:1199px) {}


/* Medai Queries on Main page */
@media screen and (max-width:575px) {
  .is-header__topnav {
    display: none;
  }

  .is-header__logo {
    justify-content: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-top: 0;

  }

  .is-header__logo-text  {
    display: block;
    margin-top: 1em;
  }

  .is-main__header-logo .navbar-nav {
    display: grid;
    justify-content: center;
  }

  .navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link {
      color: #000;
      -webkit-transition: .35s;
      transition: .35s;
  }

  .is-header__navbar-menu .nav-item .nav-link {
      border-right: 0px !important;
  }

  #services {
    padding-top: 2em;
  }

  .is-products {
    padding-bottom: 3em;
  }

  .is-status__items .col-xs-6 {
    max-width: 50%;

      text-align: center;
      justify-content: center;
  }

  .is-clients .is-col {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 50%;
    min-height: 392px;
    transition: all 1.5s;
    margin-bottom: 1em;
  }

  .is-col:hover {
    max-width: 575px !important;
    transition: all 1.5s;
  }

  .is-col:first-child:hover {
    max-width: 575px !important;
  }

  .is-col:nth-child(2):hover ~ .is-col:nth-child(3),.is-col:nth-child(2):hover ~ .is-col:last-child {
    max-width: 50% !important;
  }

  .is-col:nth-child(3):hover ~ .is-col:last-child {
    max-width: 100%;
  }

  .is-col:last-child {
    max-width: 100% !important;
  }

  .is-clients .is-col:hover  h4 {
    display: block !important;
    transition: all 1.5s;
  }
  @keyframes visibleText {
  from {opacity: 0;}
  50% {opacity: .5;}
  to {opacity: 1;}
  }


  .is-clients .is-col:first-child {
    max-width: 575px !important;
  }

  .is-footer__phone {
    padding-left: 15px;
  }

  #footer .is-main__header-logo .col-md-2 {
    margin-bottom: 1em;
  }

}

@media screen and (max-width:767px) {
  .is-header__topnav {
    display: none;
  }
  .is-header__logo {
    justify-content: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-top: 0;

  }

  .is-header__logo-text  {
    display: block;
    margin-top: 1em;
  }

  .is-main__header-logo .navbar-nav {
    display: grid;
    justify-content: center;
  }

  .is-clients .is-col:first-child {
    width: 100% !important;
    max-width: 50% !important;
  }

  .is-clients .is-col {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 50%;
    min-height: 392px;
    transition: all 1.5s;
    margin-bottom: 1em;
  }

  .is-clients .is-col:hover {
    max-width: 50% !important;
    width: 100% !important;
  }

  .is-clients .is-col:nth-child(2) ~ .is-clients .is-col:nth-child(3),.is-clients .is-col:nth-child(2) ~ .is-clients .is-col:last-child(4) {
    max-width: 50% !important;
    width: 100% !important;
  }

  .is-footer__phone {
    padding-left: 15px;
  }

  #footer .is-main__header-logo .col-md-2 {
    margin-bottom: 1em;
  }
}

@media screen and (max-width:991px) {
  .is-header__topnav {
    display: none;
  }
  .is-header__logo {
    justify-content: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-top: 0;

  }

  .is-header__logo-text  {
    display: block;
    margin-top: 1em;
  }

  .is-main__header-logo .navbar-nav {
    display: grid;
    justify-content: center;
  }

  .is-clients .is-col:first-child {
    width: 100% !important;
    max-width: 50% !important;
  }

  .is-clients .is-col {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 50%;
    min-height: 392px;
    transition: all 1.5s;
    margin-bottom: 1em;
  }

  .is-clients .is-col:hover {
    max-width: 50% !important;
    width: 100% !important;
  }

  .is-clients .is-col:nth-child(2) ~ .is-clients .is-col:nth-child(3),.is-clients .is-col:nth-child(2) ~ .is-clients .is-col:last-child(4) {
    max-width: 50% !important;
    width: 100% !important;
  }

  .is-footer__phone {
    padding-left: 15px;
  }

  #footer .is-main__header-logo .col-md-2 {
    margin-bottom: 1em;
  }

  #services {
    padding-top: 2em;
  }

  .is-products {
    padding-bottom: 3em;
  }

  .is-status__items .col-md-4 {
    max-width: 50% !important;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width:1199px) {
  .is-clients .is-col:first-child {
    width: 100% !important;
    max-width: 25% !important;
  }

  .is-clients .is-col {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 25%;
    min-height: 392px;
    transition: all 1.5s;
    margin-bottom: 1em;
  }

  .is-clients .is-col:hover {
    max-width: 25% !important;
    width: 100% !important;
  }

  .is-clients .is-col:nth-child(2) ~ .is-clients .is-col:nth-child(3),.is-clients .is-col:nth-child(2) ~ .is-clients .is-col:last-child(4) {
    max-width: 25% !important;
    width: 100% !important;
  }
}

/* Service details page */
@media (max-width:575px) {
  #details {
    max-height: none !important;
    padding-bottom: 2em;
  }

  .is-details__header__btn-buy {
    display: -webkit-flex !important;
    display: -ms-flex !important;
    display: flex !important;
    margin-top: 1em !important;
  }

  .is-details__header__btn-buy span:nth-child(1) {
    margin-top: .75em !important;
  }

  .is-details__header__btn-buy span:nth-child(2) {
    margin-top: -.25em !important;
  }

  .is-details .is-cases__navs video {
    margin-top: 3em !important;
  }

  .is-sdetails__page-main {
    padding-top: 3em !important;
  }

  .is-sdetails__page-main-description {
    margin-bottom: 3em !important;
  }

  .is-sdetails__page-main .is-services__title-divider2 {
    margin-bottom: 1em !important;
  }

  .is-sdetails__page-main-features {
    margin-top: 2em;
    margin-bottom: 3em !important;
  }

  .is-sdetails__page-other {
    margin-top: 0 !important;
    padding-top: 3em !important;
    margin-bottom: 2em !important;
  }

  .is-sdetails__page-other .is-services__title-divider2 {
    margin-bottom: 3em !important;
  }

  .is-sdetails__page-other .uk-grid {
    margin-left: 0px !important;
    margin-right: 30px !important;
  }

  .is-sdetails__page-other [class*=uk-child-width]>* {
   box-sizing:border-box;
   width:100% !important;
  }

  .is-sdetails__page-other .uk-slider-items {
    min-height: 750px !important;
    height: 100% !important;
  }

  .is-sdetails__page-other .is-services__page-card__info .btn {
    font-size: 10px !important;
    margin-top: 0em !important;
    margin-bottom: -4.25em !important;
    background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 1) 89.66%) !important;
  }

  .is-sdetails__page-other .is-services__page-card__info .btn:hover {
    color: #F66F1A;
  }

  .is-sdetails__page-other .is-services__page-card .row {
    display: block !important;
  }

  .is-sdetails__page-other .is-services__page-card__info h3 {
    margin-top: 2em !important;
  }

  .is-sdetails__page-other .is-services__page-card__bg0 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top left !important;
  }

  .is-sdetails__page-other .is-services__page-card__mask {
    -webkit-background-size: cover !important;
    background-size: cover !important;
    border-bottom-right-radius: 4px !important;
  }

  .is-cases__main-form-info .custom-checkbox {
    margin-bottom: 1em !important;
  }

  .is-sdetails__form-btns {
    display: block !important;
  }

  .is-sdetails__form-btns button {
    margin-bottom: 1em !important;
  }

  .is-cases__main-form-info img {
    margin-top: 0em !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
  }

  #sdetails-page .is-cases__main-form {
    padding-bottom: 2em !important;
  }
}

@media (max-width:767px) {
  #details {
    max-height: none !important;
    padding-bottom: 2em;
  }

  .is-details__header__btn-buy {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
  }

  .is-details .is-cases__navs video {
    margin-top: 1em !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .is-sdetails__page-main {
    padding-top: 3em !important;
  }

  .is-sdetails__page-main-description {
    margin-bottom: 3em !important;
  }

  .is-sdetails__page-other .is-services__title-divider2 {
    margin-bottom: 1em !important;
  }

  .is-sdetails__page-main-features {
    margin-top: 2em !important;
    margin-bottom: 3em;
  }

  .is-sdetails__page-other {
    margin-top: 3em;
    padding-top: 3em !important;
    min-height: auto !important;
    margin-bottom: 2em !important;
  }

  .is-sdetails__page-other .is-services__title-divider2 {
    margin-bottom: 3em !important;
  }

  .is-sdetails__page-other .uk-grid {
    margin-left: 0px !important;
    margin-right: 30px !important;
  }

  .is-sdetails__page-other [class*=uk-child-width]>* {
   box-sizing:border-box;
   width:100% !important;
  }

  .is-sdetails__page-other .uk-slider-items {
    height: 100% !important;
  }

  .is-sdetails__page-other .is-services__page-card__info .btn {
    font-size: 13px !important;
    margin-top: 1em !important;
    background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 1) 89.66%) !important;
  }

  .is-sdetails__page-other .is-services__page-card__info .btn:hover {
    color: #F66F1A;
  }

  .is-sdetails__page-other .is-services__page-card__bg0 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top left !important;
  }

  .is-sdetails__page-other .is-services__page-card__mask {
    -webkit-background-size: cover !important;
    background-size: cover !important;
    border-bottom-right-radius: 4px !important;
  }

  .is-cases__main-form-info img {
    margin-top: 0em !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
  }

}

@media (max-width:991px) {}

@media (max-width:1199px) {}
